<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MFIService.Properties.ConfigFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MFIService.Properties.ConfigFile>
            <setting name="local_host" serializeAs="String">
                <value>PSSPKAMLP110\SQLEXPRESS</value>
            </setting>
            <setting name="local_database" serializeAs="String">
                <value>MFI_INTERFACE</value>
            </setting>
            <setting name="local_port" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="local_user" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="local_password" serializeAs="String">
                <value>MOUlin123</value>
            </setting>
            <setting name="remote_host" serializeAs="String">
                <value>MEDACCKAMTEST01</value>
            </setting>
            <setting name="remote_database" serializeAs="String">
                <value>MFI_CORE</value>
            </setting>
            <setting name="remote_port" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="remote_user" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="remote_password" serializeAs="String">
                <value>Palladium2020</value>
            </setting>
            <setting name="passwords_are_encrypted" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="local_database_technology" serializeAs="String">
                <value>MSSQL</value>
            </setting>
            <setting name="sync_interval" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="log_path" serializeAs="String">
                <value>C:\\MFI_Service_Log.txt</value>
            </setting>
            <setting name="sync_batch_size" serializeAs="String">
                <value>50</value>
            </setting>
        </MFIService.Properties.ConfigFile>
    </applicationSettings>
</configuration>